.dark {
  background-color: black;
  color: white;
}
.light {
  background-color: white;
  color: black;
}
#orange-paragraph {
  color: orange;
}
.content-box {
	width: 500;
	padding: 25;
	border: 5 red;
	background: teal;
}
